templates/skeleton-HTTP_Receiver_To_KAFKATopic/HTTP_Receiver_To_KAFKATopic.module/Schemas/clientResponseResource.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="client4xxResponseElement">
    <complexType>
      <sequence>
        <element maxOccurs="1" minOccurs="0" name="statusCode" type="int" />
        <element maxOccurs="1" minOccurs="0" name="message" type="string" />
      </sequence>
    </complexType>
  </element>
</schema>